.chat-layout {
  height: 80vh;
  width: 60vw;
  border: 1px solid black;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
}

.chat-layout__message-container {
  height: calc(100% - 50px);
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.flex-container--left {
  justify-content: flex-start;
}

.flex-container--right {
  justify-content: flex-end;
}

.chat-layout__message {
  max-width: 60%;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  word-break: break-word;
}

.chat-layout__message--user {
  background-color: cadetblue;
  color: aliceblue;
  border-bottom-right-radius: 0;
  justify-content: flex-end;
}

.chat-layout__message--system {
  background-color: blanchedalmond;
  color: black;
  border-bottom-left-radius: 0;
}

.chat-layout__action_items {
  display: flex;
  justify-content: space-between;
  height: 40px;
  position: relative;
}

.chat-layout__action-items-input {
  width: calc(100% - 80px);
  padding-left: 10px;
  font-size: 16px;
}

.chat-layout__action-items-send-button {
  position: relative;
}
